/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
	background-color: #e8e8e8;
	background: url('/img/polosi.jpeg') 50% 130px no-repeat;
	
}


.content{
	padding: 168px 0 137px 0;
	/*отступы сверху и снизу контента*/
	max-width: 841px;
	/*ширина контента*/
	margin: 0px auto;
	/*центрирует объект*/
}

.content-top{
	text-align: center;
	/*текст по центру*/
	margin: 0 0 65px 0;
	/*внешний отступ*/
}
.content-top__category{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	/*размер шрифта*/
	text-transform: uppercase;
	/*трансформирует текст в прописной(верхний регистр)*/
	letter-spacing: 0.2em;
	color: #748187;
	margin: 0 0 15px 0;
}
.content-top__title{
	font-size: 36px;
	line-height: 50px;
	/*расстояние между строками*/
	color: #273d46;
	max-width: 725px;
	margin: 0px auto;
	/*центрирует объект*/
}

.content__image{
	box-shadow: 0px 15px 65px rgba(15,16,16,0.15);
	/*создает эффект тени*/
	background-color: #fff;
	padding: 10px;
	/*внутренний отступ*/
	margin: 0 0 85px 0;
}

.content-image__item img{
	/*данная запись обращается
	конкретно к тегу <img> */
	max-width: 100%;
	/* это свойство делает так,
	чтобы картинка не была шире
	родителя, и если захотят 
	вставить другую картинку,
	то верстка не сломается*/
	
}

.content-bottom{
	padding: 0px 45px;
}

.content-bottom__text{
	font-size: 24px;
	line-height: 40px;
	color: #53646b;
	margin: 0 0 48px 0;
}
.content-bottom__text p{
	margin: 0 0 40px 0;
}
.content-bottom__text p:last-child{
	/* данная запись нужна для того,
	чтобы уменьшить отступ от последнего
	параграфа, не затрагивая первый, а 
	так же если нужно будет добавить еще
	один параграф (отступ до нижнего блока
	останеться прежним) */
	margin: 0;
}
.content-bottom-info-list{
	margin: 0 0 59px 0;
}
.content-bottom-info-list li{
	/* данная запись обращается 
	конкретно к тегу <li>*/
	margin: 0 0 15px 0;
	padding: 0 0 0 35px;
	background: url('/img/icons/icon.png')left no-repeat;
	font-size: 20px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.content-bottom-info-list li:last-child{
	margin: 0;
}
.content-bottom-info-list li:nth-child(1){
	/* данная запись обращается к конкретным
номерам <li> и позволяет не создавать классы
внутри html, что оптимизирует процесс */
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	color: #273d46;
}
.content-bottom-info-list li:nth-child(2){
	font-style: italic;
	color: #80b7b3;
}
.content-bottom-info-list li:nth-child(3){
	font-weight: 700;
	color: #273d46;
}
.content-bottom-info-list li:nth-child(4){
	text-decoration: line-through;
	color: #273d46;
}
.content-bottom-info-list li:nth-child(4) span{
	/* данная запись обращается к тегу <span>
	внтри тега <li>, чтобы иконка которую
	я добавил не становилась прозрачнее благодаря
	свойству "opacity: 0.3;" */
	opacity: 0.3;
}


.content-bottom-info__link{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	display: inline-block;
	line-height: 44px;
	background-color: #80b7b3;
	height: 44px;
	padding: 0 30px;
	border-radius: 24px;
	box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
	/*это свойство создает эффект тени*/
	-webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
	/* префикс "-webkit" добавлен для того,
	чтобы данное свойство работало исключительно
	в браузере Chrome
	оба свойства выше не совпадают с оригинальным
	макетом и выполнены просто для пущего эффекта*/
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
}
.content-bottom-info__link span{
	padding: 0 30px 0 0;
	background: url('/img/icons/arrow.png') right no-repeat;
}
.content-bottom-info__link:hover{
	background-color: #511e23;
	/*данное свойство добавлено для более 
	красивого эффекта и не совпадает с 
	оригинальным макетом, оно изменяет
	цвет при наведении курсором на объект*/
}
.content-bottom-info__link:active{
	position: relative;
	/*Свойство css position указывает,
	как элемент позиционируется в документе.
	top, right, bottom и left (en-US) определяют
	конечное местоположение позиционированных
	элементов.*/
	top: 3px;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
	/*данное свойство добавлено для более 
	красивого эффекта и не совпадает с 
	оригинальным макетом, оно создает
	иллюзию нажатой кнопки с помощью тени*/
}

