@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background-color: #e8e8e8;
  background: url("/project1/img/ellipse.png") 50% 150px no-repeat;
}

.content {
  padding: 168px 0 137px 0;
  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  max-width: 841px;
  margin: 0 auto;
}

.header__text {
  margin: 0px 55px 77px 55px;
  text-align: center;
}

.header__text .header__text__1 {
  opacity: 0.6;
  font-family: Arial;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #273d46;
}

.header__text .header__text__1:hover {
  text-decoration: underline;
}

.header__text .header__text__2 {
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  color: #273d46;
}

.header__text .header__text__2:hover {
  font-style: oblique;
}

.image {
  background-color: #fff;
  padding: 10px;
  -webkit-box-shadow: 0px 15px 65px 0px rgba(15, 16, 16, 0.15);
          box-shadow: 0px 15px 65px 0px rgba(15, 16, 16, 0.15);
  margin: 0 0 97px 0;
}

.imageimg {
  max-width: 100%;
}

.content__text {
  padding: 0px 61px 0 44px;
  opacity: 0.8;
  font-family: "Times New Roman";
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  color: #273d46;
}

.content__text .content__text__1 {
  margin: 0 0 65px 0;
}

.content__text .content__text__1:hover {
  background-color: gray;
}

.content__text .content__text__2:hover {
  border: 2px solid #80b7b3;
}

.list {
  margin: 64px 0 0 41px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.list li::before {
  content: url("/project1/img/icons/check.png");
  padding: 0 10px 0 0;
}

.list li:first-child {
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #273d46;
}

.list li:first-child:hover {
  color: red;
}

.list li:nth-child(2) {
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  color: #273d46;
}

.list li:nth-child(2):hover {
  font-style: italic;
  color: #80b7b3;
}

.list li:nth-child(3) {
  font-size: 20px;
  line-height: 36px;
  color: #273d46;
}

.list li:nth-child(3):hover {
  font-weight: 700;
}

.list li:last-child {
  font-family: Arial;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  color: #273d46;
}

.list li:last-child:hover {
  text-decoration: line-through;
}

.buttom {
  position: relative;
  margin: 59px 0 0 40px;
  width: 199px;
  height: 44px;
  -webkit-box-shadow: 0px 5px 1px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 1px 0px rgba(0, 0, 0, 0.5);
  background-color: #80b7b3;
  border-radius: 33px;
}

.buttom span {
  padding: 17px 11px 17px 30px;
  font-family: Arial;
  line-height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.buttom span::after {
  position: absolute;
  top: 3px;
  right: 27px;
  content: url("/project1/img/icons/arrow.png");
}

.buttom:hover {
  background-color: #4c1e21;
}

.buttom:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}
/*# sourceMappingURL=style.css.map */