<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Расчёт грузоперевозки</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=61a714f5-49b4-4380-8214-5793b2af711d&lang=ru_RU"
            type="text/javascript"></script>
</head>
<body>
    <div class="wrapper">
        <main>
            <div id="map" style="width:600px; height:400px"></div>
            <form th:method="GET" th:action="@{/calculate}">
                <label for="first_point">Первая точка:</label>
                <input type="text" id="first_point">
                <br>
                <label for="second_point">Вторая точка:</label>
                <input type="text" id="second_point">
            </form>
        </main>
    </div>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>