@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
	font-family: 'St Ryde';
	src: url('../fonts/StRyde-Regular.eot');
	src: local('☺'), url('../fonts/StRyde-Regular.woff') format('woff'), url('../fonts/StRyde-Regular.ttf') format('truetype'), url('fonts/StRyde-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'Segoe UI Italic';
  src: url('SegoeUI-Italic.eot');
  src: url('SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
  url('SegoeUI-Italic.woff') format('woff'),
  url('SegoeUI-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
hr
{
  margin-left: 0px;
  width: auto;
  height: 8px;
  background-color:#a292b3;
}
.minto{
  margin-top: 22px;
  display: flex;
  flex-direction: row;
}
.button{
  width: 71px;
  height: 70px;
  opacity: 0.72;
  background-color: #451f6d;
  background-image:url("../img/icons/group_4_205.jpg");
}
.text1{
  color: white;
  padding: 17px 23px;
  font-family: 'Amaranth', sans-serif;
  font-size: 29.2px;
  line-height: 1.2;
  font-weight: 400;
  opacity: 0.78;
  text-shadow: -1px 1px 0px rgba(0,0,0,0.51);
}
.text2{
  padding-left: 16px;
  padding-top: 12px;
  opacity: 0.78;
  font-family: 'Samo Sans Pro';
  font-size: 39px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #a292b3;
}
.buttons{
  padding-top: 19px;
  display: flex;
  flex-direction: row;
}
.home{
  padding-left: 213px;
  display: flex;
  flex-direction: row;
}
.icon1{
  width: 21px;
  height: 20px;
  background-image: url("../img/icons/shape_2_21.jpg");
  position: relative;
  bottom: 1px;
}
#text-icons{
  padding-left: 5px;
  font-family: 'Segoe UI';
  font-size: 19px;
  line-height: 1.2;
  font-weight: 400;
  color: #545454;
}
.about{
  padding-left: 68px;
  display: flex;
  flex-direction: row;
}
.icon2{
  width: 18px;
  height: 19px;
  background-color: #a292b3;
  background-image: url("../img/icons/shape_3_22.jpg");
}
.services{
  padding-left: 68px;
  display: flex;
  flex-direction: row;
}
.icon3{
  width: 20px;
  height: 20px;
  background-color: #a292b3;
  background-image: url("../img/icons/shape_4_26.jpg");
}
.contact{
  padding-left: 68px;
  display: flex;
  flex-direction: row;
}
.icon4{
  width: 20px;
  height: 14px;
  
}
.icon4::before{
  content: url(../img/icons/shape_5_28.jpg);
  position: relative;
  top: 4px;
}
.picture{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 27px;;
  width: 1017px;
  height: 485px;
  background-image: url("../img/layer_24_291.jpg");
}
.elements{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.labels{
  flex-direction: column;
}
.label1{
  opacity: 0.96;
  font-family: 'St Ryde';
  font-size: 117px;
  line-height: 36px;
  font-weight: 400;
  text-shadow: -4px 5px 0px rgba(130,105,157,0.75);
  color: #ffffff;
}
.label2{
  align-self: center;
  padding-right: 10px;
  opacity: 0.92;
  padding-top: 42px;
  font-family: 'Sofia Pro';
  font-size: 31px;
  line-height: 36px;
  font-weight: 300;
  text-shadow: -1px 1px 0px rgba(0,0,0,0.44);
  color: #ffffff;
}
.scroll{
  margin-right: 343px;
  width: 34px;
  height: 65px;
  background-color: #82699d;
  background-image:  url("../img/icons/shape_6_63.jpg");
  background-repeat: no-repeat;
}

.scroll2{
  width: 34px;
  height: 65px;
  background-color: #82699d;
  background-image:  url("../img/icons/shape_6_58.jpg");
  background-repeat: no-repeat;
}
.cursive-label{
  padding-top: 64px;
  max-width: 80%;
}
.cursive-label .black-hr{
  width: 999px;
  height: 1px;
  background-color: #c2c2c2;
}
.text-cursive-label{
  text-align: center;
  font-family: 'Segoe UI Italic', sans-serif;
  font-size: 23px;
  line-height: 36px;
  font-weight: 400;
  font-style: italic; 
  color: #494848;
}
.text-cursive-label2{
  color: #82699d;
  font-weight: 700;
}
.image-block{
  padding: 31px 0 0 0;
  flex-direction: row;
}
.circled-image{
  background: url("../img/layer_24_copy_307.jpg"); 
  box-shadow: inset 1px 2px 0px 0px;   
}



